@font-face {
  font-family: "DaxCondensed-Light", sans-serif;

  src: url("./fonts/DaxCondensedLight.woff") format("woff"), /* Modern Browsers */
    url("./fonts/DaxCondensedLight.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DaxCondensed-Regular", sans-serif;

  src: url("./fonts/DaxCondensedRegular.woff") format("woff"), /* Modern Browsers */
    url("./fonts/DaxCondensedRegular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}